* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #000000;
}

.title-icon {
    width: 52px;
    margin-right: 100px;
    vertical-align: middle;
}


/* ================= NAVBAR ================= */

.navbar {
    height: 80px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    /* pushes left & right apart */
    align-items: center;
    padding: 0 40px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

.nav-links li a:hover {
    color: red;
}


/* LEFT SIDE */

.logo {
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    /*  Gradient Text */
    background: linear-gradient(45deg, #d10000, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Glow Effect */
    text-shadow: 0 0 8px rgba(209, 0, 0, 0.6), 0 0 16px rgba(255, 0, 55, 0.5);
    cursor: pointer;
    transition: 0.3s ease;
}


/* Hover Effect */

.logo:hover {
    text-shadow: 0 0 12px rgba(209, 0, 0, 0.9), 0 0 25px rgba(255, 0, 0, 0.8);
    transform: scale(1.05);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 50px;
    /* small gap between logo and search */
}

.search-wrapper {
    position: relative;
}

.search-box {
    padding: 8px 40px 8px 15px;
    /* extra right padding for icon */
    border-radius: 25px;
    border: 4px solid #ffffff;
    width: 500px;
    outline: none;
}

.search-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #ffffff;
    pointer-events: none;
}


/* RIGHT SIDE */

.nav-right {
    display: flex;
    align-items: center;
    gap: 40px;
    /* long gap between menu and sign in */
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #ffffff;
}

.nav-links li {
    font-size: 15px;
    cursor: pointer;
    color: #ffffff;
}

.nav-links li:hover {
    color: #d10000;
}

.signin-btn {
    background: #d10000;
    color: #000000;
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    cursor: pointer;
}

.signin-btn:hover {
    background: #ff0000;
}


/*----------------------------------------------------------------------------------------------------------------------------------*/


/* ================= HERO SECTION ================= */

.hero {
    position: relative;
    height: 75vh;
    width: 100%;
    overflow: hidden;
}


/* ALL SLIDES STACKED */

.slide {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fadeSlide 9s infinite;
}


/* DARK GRADIENT */

.slide::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient( to right, rgba(0, 0, 0, 0.9) 25%, rgba(0, 0, 0, 0.5) 60%, transparent 85%);
}


/* TEXT */

.hero-content {
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translateY(-50%);
    color: white;
}

.hero-content h1 {
    font-size: 70px;
    letter-spacing: 10px;
}

.hero-content h2 {
    font-size: 36px;
    margin: 20px 0;
}


/* Animation timing offset */

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 3s;
}

.slide:nth-child(3) {
    animation-delay: 6s;
}

@keyframes fadeSlide {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    35% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}


/* SECTION BACKGROUND */

.ps-section {
    background: #000000;
    padding: 120px 60px;
}


/* FLEX CONTAINER */

.ps-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}


/* LEFT TEXT */

.ps-text {
    flex: 1;
    margin-left: 90px;
}

.ps-text h1 {
    font-size: 50px;
    line-height: 1.2;
    color: #ffffff;
    margin-bottom: 30px;
}

.ps-text h3 {
    font-size: 22px;
    color: #d10000;
    margin-bottom: 10px;
}

.ps-text p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #adadad;
}


/* BUTTONS */

.ps-buttons {
    display: flex;
    gap: 15px;
}

.btn-primary {
    background: #d10000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    cursor: pointer;
}

.btn-secondary {
    background: #ff0000;
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    cursor: pointer;
}

.btn-primary:hover {
    background: #b50000;
}

.btn-secondary:hover {
    background: #cc0000;
}


/* RIGHT IMAGE */

.ps-image {
    flex: 1;
    text-align: right;
}

.ps-image img {
    width: 100%;
    max-width: 55999px;
}


/* SECTION */

.games-section {
    background: #0d0f12;
    padding: 80px 60px;
    color: white;
}


/* TITLE */

.games-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}


/* TOGGLE BUTTONS */

.games-toggle {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
}

.toggle {
    padding: 10px 22px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    background: #1c1f26;
    color: white;
}

.toggle.active {
    background: white;
    color: black;
}


/* GRID */

.games-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
}


/* CARD */

.game-card {
    cursor: pointer;
    transition: 0.3s;
}

.game-card img {
    width: 100%;
    border-radius: 15px;
    display: block;
}

.game-card p {
    margin-top: 10px;
    font-size: 14px;
}


/* HOVER EFFECT */

.game-card:hover {
    transform: translateY(-8px);
}

.ps-footer {
    background: #b30b0b;
    color: white;
    padding: 60px 80px;
}


/* LOGO */

.footer-logo {
    font-size: 28px;
    margin-bottom: 40px;
}


/* GRID */

.footer-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    margin-bottom: 40px;
}

.footer-col h4 {
    margin-bottom: 15px;
    font-size: 16px;
}

.footer-col a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;
    opacity: 0.85;
}

.footer-col a:hover {
    opacity: 1;
}


/* SOCIAL ICONS */

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons span {
    background: white;
    color: #b30b0b;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}


/* DIVIDER */

.ps-footer hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    margin: 30px 0;
}


/* BOTTOM */

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

.legal-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    opacity: 0.85;
}

.legal-links a:hover {
    opacity: 1;
}


/* ================= RESPONSIVE ================= */


/* -------- TABLET -------- */

@media (max-width: 1024px) {
    .search-box {
        width: 300px;
    }
    .ps-container {
        flex-direction: column;
        text-align: center;
    }
    .ps-text {
        margin-left: 0;
    }
    .games-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* -------- MOBILE -------- */

@media (max-width: 768px) {
    /* NAVBAR */
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 15px;
    }
    .nav-left {
        flex-direction: column;
        gap: 15px;
    }
    .search-box {
        width: 100%;
    }
    .nav-right {
        flex-direction: column;
        gap: 15px;
    }
    /* HERO TEXT */
    .hero-content {
        left: 20px;
    }
    .hero-content h1 {
        font-size: 40px;
        letter-spacing: 5px;
    }
    .hero-content h2 {
        font-size: 22px;
    }
    /* PS SECTION */
    .ps-section {
        padding: 80px 20px;
    }
    .ps-text h1 {
        font-size: 32px;
    }
    /* GAMES GRID */
    .games-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
        gap: 25px;
    }
    /* FOOTER */
    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-bottom {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }
}


/* -------- SMALL MOBILE -------- */

@media (max-width: 480px) {
    .games-grid {
        grid-template-columns: 1fr;
    }
    .footer-grid {
        grid-template-columns: 1fr;
    }
}